@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #87edff 0%, #f5f7fa 100%);
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}

#box-container {
    height: 100%;
}

#container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.container-quiz {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 01);
    margin: 0 20px;
}

header {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
}

header>img {
    width: 210px;
    max-height: 175px;
    max-width: 210px;
}

.slogan {
    display: flex;
    font-size: 2.4rem;
    align-items: center;
    font-family: 'Sigmar', cursive;
    background: -webkit-linear-gradient(#025cb1, #1d7dfa);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-quiz {
    padding: 3rem 2rem 1rem 2rem;
}

#questionImage {
    text-align: center;
    display: block;
    margin: 0 auto;
}

h1 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #3677ee;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #0252e6;
}

button:focus {
    outline: none;
    background-color: #2789b6;
}

footer {
    background: #1b67f2;
    height: auto;
    width: 100%;
    color: #fff;
    position: absolute;
}

.footer-dev-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-dev-content a {
    color: #fff;
}

/* In case the user has a screen that is smaller in height it will resize the quiz box automatically */
@media screen and (max-height: 905px) {
    #questionImage {
        width: 90%;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    ul li {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    #quiz-container {
        margin-bottom: 35px;
    }
}

/* In case the user has a small display or device it will resize automatically */
@media screen and (max-width: 663px) {

    header {
        display: grid;
        justify-items: center;
    }

    .header-quiz {
        padding: 1rem;
    }

    header>img {
        width: 40%;
        height: auto;
    }

    .slogan {
        font-size: 2.3rem;
    }

    #questionImage {
        width: 90%;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    ul li {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    #quiz-container {
        margin-bottom: 35px;
    }
}